button {
    padding: 15px;
    background: rgb(104, 23, 23);
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 19px;
    transition: .6s;
    cursor: pointer;


}

button:hover {
    background: rgb(50, 194, 18);
    color: white;
    transform: scale(1.1);


}