.nannamid {
    /* text-align: center; */
    height: 100px;
    width: 600px;
    color: yellow;
    background-color: orangered;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkHeader {
    margin: 20px;
    text-decoration: none;
    background: #f5ed03;
    padding: 17px;
    border-radius: 7px;
    color: tomato;
    font-weight: 700;


}