.nanna {
    height: 500px;
    width: 500px;
    margin: 4px;
    background: #817ebf;
    padding: 10px;
    color: rgb(138, 23, 23);

    /* display: flex; */
}

.childArrayObjEvent {
    display: flex;
    background-color: rgb(78, 78, 176);
    color: white;
}

.parentSec {
    background: #298332;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 700px;
    width: 1000px;
    padding: 20px;
    margin: auto;
    text-align: center;

}

.chidNodes {
    display: flex;
}