.app-logo {
    height: 80px;

}

.app-header {
    background-color: #312424;
    height: 150px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: monospace;

}

.app-title {
    font-size: 1.5rem;
}