.nannaFirstRow {
}

.labelN {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: bolder;
  color: tomato;
}
.flexDiv {
  display: flex;
  width: 100%;
}
.loginComp {
  width: 600px;
}
