services:
  aprangapp:
    container_name: aprangappcontainer
    build: .
    image: aprangapp:v1
    ports:
      - "80:80"
    expose:
      - 80
    networks:
      - internalnet
networks:
  internalnet:
    driver: bridge
