.badgeN {
    background-color: black;
    color: white;
}

.modalSpandata {
    margin-left: 20px;
    font-weight: 700;
    color: rgb(8, 170, 8);
}

.bg-nmod {
    background: rgb(34, 193, 195);
    background: linear-gradient(124deg, rgba(34, 193, 195, 1) 0%, rgba(202, 208, 102, 1) 76%);
}

.modal-close {
    background: rgb(216, 6, 6);
    color: white;
    font-weight: 900;
    border: none;
    font-size: 25px;
    border-radius: 9px;
    padding: 7px;
    transition: 1s;
}

.modal-close:hover {
    background: black;

}

.formControlNanna {
    /* background: black; */


    /* padding: 2px; */
}

.formControlNanna option {
    background-color: rgb(35, 29, 29);
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    color: white;
    transition: 1s;
}