.button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.banner-title {
    background-color: #f0f0f0;
    color: #8e1717;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 25px;
}