<div class="row">
  <div class="col">
    <h3>Add Video</h3>
    <button #addBtn class="btn btn-warning">Add Video</button>
  </div>
  <div class="col" id="nanna-one">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae
    blanditiis sunt.
  </div>
  <div class="col" id="nanna-two">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita dicta in,
    odio quam magnam dignissimos sunt tenetur eum officia veniam dolorum ipsam
    quasi! Ut eveniet nemo, nihil adipisci autem molestiae.
  </div>
</div>
