.studentsData {
    margin: auto;
    background-color: tomato;
    width: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 200px;
    padding-top: 20px;
    margin-bottom: 200px;
}