.strongError {
    font-weight: 900;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 7px;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}

div {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}