.bg-style {
    background-color: tomato;
}

.text-style {
    color: green !important;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.border-style {
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
}